@use "./variables" as *;

.flex-group-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta {
    font-size: $fs-0;
    font-weight: $fw-bold;
    padding: 1em 2.5em;
    border-radius: 100vw;
    color: $c-neutral-100;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        filter: brightness(110%);
    }
}

.bg-brand {
    background: $c-grad;
}
