@use "./variables" as *;
@use "./mixins" as *;

.container {
    @include breakpoint(lg) {
        max-width: 90%;
        margin-inline: auto;
    }

    @include breakpoint(xlg) {
        max-width: 80%;
    }
}

.stats-bg {
    background-color: $c-neutral-300;
}

.heading {
    font-weight: $fw-light;
    color: $c-blue;
}

.flex-group-col {
    display: flex;
    flex-direction: column;
    // align-items: center;
}

.grid-flow {
    display: grid;
}

.gap-sm {
    gap: 1.2rem;
}

.cta {
    font-size: $fs-0;
    font-weight: $fw-bold;
    padding: 1em 2.5em;
    border-radius: 100vw;
    color: $c-neutral-100;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        filter: brightness(110%);
    }

    &:focus-visible {
        outline: 3px dotted $c-blue;
        outline-offset: 4px;
    }
}

.bg-brand {
    background: $c-grad;
}

.hidden {
    display: none;
}

.show-nav {
    display: flex !important;
}
