@use "../utils/" as *;

.header {
    background-color: $c-neutral-100;
    padding-block: 1.2rem;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-nav {
        .nav-list {
            display: flex;
            gap: 2em;

            .nav-item {
                a {
                    color: $c-neutral-700;
                    text-decoration: none;
                }
            }
        }
    }
}
