@use "../utils/" as *;

.hero {
    position: relative;
    outline: 2px solid blue;

    &-container {
        padding-inline: 1rem;

        @include breakpoint(lg) {
            display: flex;
            flex-direction: row-reverse;
            // outline: 2px solid red;
        }
    }

    .hero-pattern {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 2rem;
        right: 0;
        z-index: -1;

        @include breakpoint(lg) {
            display: none;
        }

        img {
            width: 100%;
            max-width: min(100%, 768px);
            display: block;
            margin-inline: auto;
        }
    }

    .hero-image {
        display: block;
        outline: 2px solid red;

        @include breakpoint(lg) {
            width: fit-content !important;
            position: absolute;
            top: 0;
            right: 0;
            // height: 700px;
            overflow: hidden;
        }

        img {
            display: block;
            max-width: min(100%, 548px);
            margin: -65px auto;
            overflow: hidden;

            @include breakpoint(lg) {
                display: inline;
                float: right;
                margin-right: -4rem;
                max-width: min(100%, 40svw);
            }
        }
    }

    .hero-content {
        margin-top: 6rem;
        // text-align: center;

        @include breakpoint(lg) {
            flex: 1;
            align-items: start;
            text-align: left;
        }

        h1 {
            margin-bottom: 1.2rem;

            @include breakpoint(md) {
                margin-bottom: 1.5rem;
            }
        }

        p {
            margin-bottom: 2rem;
            max-width: 530px;

            @include breakpoint(md) {
                margin-bottom: 2.4rem;
            }
        }
    }
}
