@use "../utils/" as *;

.hero {
    position: relative;
    overflow: visible;

    @include breakpoint(lg) {
        height: 90vh;
    }

    &-container {
        padding-inline: 1rem;

        @include breakpoint(lg) {
            display: flex;
            flex-direction: row-reverse;
            height: 100%;
        }
    }

    .hero-pattern {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 2rem;
        right: 0;
        z-index: -1;
        overflow: hidden;

        @include breakpoint(lg) {
            // display: none;
            // background-color: #404040;
            top: 0;
            // display: flex;
        }

        img {
            width: 100%;
            max-width: min(100%, 768px);
            display: block;
            margin-inline: auto;

            @include breakpoint(lg) {
                margin-top: -6rem;
                margin-right: -18rem;
                float: right;
                max-width: min(100%, 80vw);
            }

            @include breakpoint(xlg) {
                margin-top: -15rem;
                margin-right: -22rem;
                max-width: min(100%, 80vw);
            }
        }
    }

    .hero-image {
        display: block;
        pointer-events: none;

        @include breakpoint(lg) {
            flex: 1;
            width: 50%;
            position: absolute;
            top: 0;
            right: 0;
            height: 120vh;
            overflow: hidden;
        }

        img {
            display: block;
            max-width: min(100%, 548px);
            margin: -65px auto;

            @include breakpoint(lg) {
                float: right;
                margin-right: -4rem;
                max-width: min(100%, 60svw);
                // max-width: 55svw;
            }
        }
    }

    .hero-content {
        margin-top: 6rem;
        // text-align: center;

        @include breakpoint(lg) {
            margin-top: 0;
            flex: 1;
            align-items: start;
            align-self: center;
            text-align: left;
        }

        h1 {
            margin-bottom: 1.2rem;
            font-size: $fs-5;

            @include breakpoint(md) {
                margin-bottom: 1.5rem;
            }
        }

        p {
            margin-bottom: 2rem;
            max-width: 530px;

            @include breakpoint(md) {
                margin-bottom: 2.4rem;
            }

            @include breakpoint(md) {
                max-width: 42ch;
            }
        }
    }
}
